.app-container {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.wrapper {
  max-width: 1024px;
}

.bot20 {
  margin-bottom: 20px;
}

.bot10 {
  margin-bottom: 10px;
}